* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(129, 132, 136);
}

.centerText {
  color: white;
  margin-top: 2%;
  text-align: center;
}

.btn {
  border-radius: 3px;
  border: 1px solid black;
}